venv
*.pyc
staticfiles
.env
db.sqlite3
pyopenmensa
__pycache__
swffm/__pycache__
speierlingshof/__pycache__
uploadCache.py
/Pipfile
tests/open-mensa-v2.xsd
tests/pyopenmensa
winenv.bat
codacy-coverage-reporter-assembly.jar

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
